<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
        <!-- scan配置是否扫描配置文件是否被修改,scanPeriod配置每次扫描的时间间隔 -->
    <!-- 每一组appender定义一组log的输出形式 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- 日志输出到控制台,就是把日志会写入到catalina.out文件中,就会输出到控制台 -->
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>
    </appender>

    <!--<appender name="permission" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
        <!--<file>${catalina.home}/logs/permission.log</file>-->
        <!--<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
            <!--<FileNamePattern>${catalina.home}/logs/permission.%d{yyyy-HH-dd-HH}.log.gz</FileNamePattern>-->
        <!--</rollingPolicy>-->
        <!--<layout class="ch.qos.logback.classic.PatternLayout">-->
            <!--<pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger - %msg%n</pattern>-->
        <!--</layout>-->
    <!--</appender>-->

    <!--<logger name="xxx" level="INFO">-->
        <!--<appender-ref ref="permission"/>-->
    <!--</logger>-->

    <!-- 一个logger可以定义一组名称,可以使类名等.通常一个logger会定义一个appender -->
    <!--<logger></logger>-->

    <!-- root下记录的是每个appender是以什么样的级别输出日志 -->
    <!-- trace < debug < info < warn < error -->
    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>